/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/imagens
/public/arquivos/20*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log