.vermelho {
	color: #ff0000 !important;
}

.verde {
	color: #16d30f;
}

.note-check a {
	color: #000000 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pagination {
	margin-bottom: 0px;
}

.checkIcone {
	font-size: .8rem;
}

.pointer:hover {
  cursor: pointer;
}

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}

.perfilEdit td,
.perfilEdit th {
  text-align: center;
}

.perfilEdit .form-check-input {
  margin-left: 0;
}

.nowrap {
  white-space: nowrap;
}

.nodecoration {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.filtroAge label {
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1;
}

.homeimagens label {
  font-size: 0.85rem;
  margin-bottom: .15rem;
  margin-left: .25rem;
}

.homeimagens:hover, .textosSortable .form-check:hover {
  cursor: move;
}

.link-alert-span {
  color: #ffc107;
}

.link-alert:hover .link-alert-span {
  color: #ffffff;
}

.inherit {
  color: inherit;
}

.info-box .linkDownload {
  color: #FFFFFF;
}

.info-box:hover .linkDownload {
  color: #ffc107;
}

#recusar-form {
  display: none;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.setecinco {
  padding-left: .75rem !important;
}

.contato-single p {
	line-height: 1.65;
}

.space-single {
  padding: 0.75rem 1.25rem;
}

.space {
  padding: 1.25rem 1.25rem .25rem 1.25rem;
}

.secondary-bg {
  background-color: #6c757d !important;
}

.no-border {
  border-top: none !important;
}

.flex-one {
  flex: 1;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#email_system {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Pesquisar";
}

#formGerarTexto div.form-check {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: initial;
  direction: ltr;
}

.sortable-placeholder {
  background-color: #ffc107;
  border-radius: 3%;
}