.note-check a {
	color: #000000 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pagination {
	margin-bottom: 0px;
}

.checkIcone {
	font-size: .8rem;
}

.pointer:hover {
  cursor: pointer;
}

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}

.perfilEdit td,
.perfilEdit th {
  text-align: center;
}

.perfilEdit .form-check-input {
  margin-left: 0;
}

.nowrap {
  white-space: nowrap;
}

.nodecoration {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.filtroAge label {
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1;
}