@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*
 * REGRAS GERAIS
 */
body {
	font-family: 'Roboto', sans-serif;
}

.preto {
	color: #292929;
}

.branco {
	color: #FFFFFF;
}

.branco-bg {
	background-color: #FFFFFF;
}

.verde-escuro {
	color: #13632F;
}

.verde-escuro-bg {
	background-color: #13632F;
}

.azul {
	color: #15AAE2;
}

.azul-bg {
	background-color: #15AAE2;
}

.azul-escuro {
	color: #004587;
}

.azul-escuro-bg {
	background-color: #004587;
}

.cinza-claro {
	color: #eaeaea;
}

.cinza-claro-bg {
	background-color: #eaeaea;
}

.cinza-escuro {
	color: #888888;
}

.contraste {
	background-color: #292929 !important;
	color: #FFF !important;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #15AAE2;
}

.nomargin {
	margin: 0px;
}

.nopadding {
	padding: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .p {
    margin-bottom: 0rem;
    line-height: 1.4;
}

h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: .8rem;
}

p {
	font-size: 1rem;
	line-height: 1.4;
}

.form-control {
	font-size: .95rem;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

strong, .bold {
	font-weight: 700;
}

.stronger {
	font-weight: 900;
}

/*
 * REGRAS DO CABEÇALHO
 */
.main-cabecalho {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.btn-atendimento {
	background: rgba(151,180,72,1);
	background: -moz-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(151,180,72,1)), color-stop(100%, rgba(57,100,58,1)));
	background: -webkit-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -o-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -ms-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: linear-gradient(to right, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b448', endColorstr='#39643a', GradientType=1 );
	color: #FFF;
	padding: 0.219rem 0.7rem;
	border-radius: 5px;
	border: 0px;
}

.btn-atendimento i {
	font-size: 0.95rem;
}

.linha-verde {
	background-color: rgb(19,99,47);
	height: 0.5rem;
}

.linha-branca {
	background-color: #FFFFFF;
	height: 0.5rem;
}

.linha-azul {
	background-color: #15AAE2;
	height: 1.5rem;
}

.linha-azul-escuro {
	background-color: #004587;
	height: 0.5rem;
}

.linha-cinza {
	width: 100%;
	height: 0.0625rem;
	background-color: #eaeaea;
}

.nav-item {
	display: inline-block;
	margin: 0rem 0.25rem;
	text-align: center;
	border-top: 0.25rem solid transparent;
	text-transform: uppercase;
	transition: 0.3s;
	color: #292929;
}

.nav-item:hover {
	border-top: 0.25rem solid #15AAE2;
}

.nav-item a {
	padding: 0.375rem 0.5rem;
	font-weight: 700;
	font-size: 0.85rem;
	letter-spacing: -0.1px;
}

.dropdown-menu {
	background-color: #e8eaeb;
	border-radius: 5px;
}

.dropdown-item {
	padding: 0.2rem 0.6rem !important;
	font-size: 0.8rem !important;
	font-weight: 500 !important;
}

.nav-link {
	padding: 0;
}

.sociais img {
	border-radius: 5px;
}

#fixed-menu {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #FFFFFF;
	z-index: 99;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#fixed-menu img {
	float: left;
	margin-top: 4px;
	height: 32px;
}

/*
 * REGRAS DA HOME
 */

/* CARROSSEL */
#carousel {
	width: 100%;
}

.carousel {
  height: 26rem;
}

.carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

/* TÍTULO DA SEÇÃO */
.home-title {
	overflow: hidden;
}

.home-title blockquote {
	border-left: 0.3rem solid #15AAE2;
	padding: 0.1rem 0.6rem;
	position: relative;
	z-index: 3;
}

.home-title h5 {
	position: absolute;
	z-index: 5;
	right: 8px;
	top: 8px;
	padding-left: .6rem;
	padding-right: .3rem;
	color: #292929;
	font-size: .95rem;
}

.home-title h5:hover .icon-title {
	transform: rotateY(180deg);
}

.icon-title {
	font-size: 1rem;
	margin-right: 0.2rem;
	color: #15AAE2;
	transition: .3s;
}

.home-title blockquote h4 {
	display: inline-block;
	font-weight: 700;
	color: #292929;
}

.home-title blockquote:after {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 1px;
	top: 55%;
	background-color: #d6d6d6;
}

/* ESPAÇO DO REPRESENTANTE */
#espaco-representante {
	padding-bottom: 8rem;
	background-color: #eaeaea;
}

.box {
	padding: 0.5rem;
	height: 100%;
	border-radius: 5px;
	transition: all .3s;
	position: relative;
	top: 0;
	cursor: pointer;
}

.box:hover {
	top: -.8rem;
}

.box:hover .inside-img {
	transform: rotateY(180deg);
}

.inside-img {
	transition: .3s;
}

.inside-box {
	border: 1px solid #FFFFFF;
	padding: 2.1rem;
	border-radius: 5px;
	height: 100%;
}

.inside-box i {
	font-size: 5rem;
}

.btn-box {
	background-color: #FFFFFF;
	padding: 0.3rem 1rem;
	border: 1px solid #FFFFFF;
	font-size: 1rem;
	color: #004587;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1rem;
	display: inline-block;
	transition: .3s;
}

.btn-box:hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background-color: transparent;
}

/* NOVO CORE */
#novo-core {
	margin-top: -5rem;
}

#novo-core h2,
#e-ouv h2 {
	letter-spacing: -0.1rem;
}

.novo-core-animation {
	animation-duration: 2s;
}

.novo-core-box {
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-image: url('/img/bg-novo-core.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.btn-novo-core {
	padding: 1rem 3rem;
	display: inline-block;
	font-size: 1.25rem;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
	margin: 0rem 0.5rem;
	background-color: transparent;
	transition: .3s;
}

.btn-novo-core:hover {
	background-color: #FFFFFF;
	border: 1px solid transparent;
	color: #15AAE2;
}

/* NOTÍCIAS */
.box-news {
	height: 15rem;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.box-news h5 {
	font-weight: 500;
}

.bn-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: .3s;
}

.box-news:hover .bn-img {
	transform: scale(1.2);
	cursor: pointer;
}

.box-news-txt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2rem 1.25rem 0.75rem 1.25rem;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

/* BENEFÍCIOS */
#beneficios {
	margin-bottom: -4rem;
}

.beneficios-box {
	background-image: url('/img/banner-verde-claro.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-radius: 5px;
	padding-left: 2rem;
	padding-right: 2rem;
}

#computer {
	margin-top: -4rem;
}

.beneficios-icons img {
	width: 45px;
	margin-right: 5px;
}

.beneficios-txt {
	padding-top: 2.25rem;
	padding-left: 2.25rem;
}

.beneficios-txt h2 {
	padding-bottom: 0.5rem;
}

.beneficios-txt p {
	padding-bottom: 1.5rem;
}

.btn-beneficios {
	padding: 0.75rem 2.25rem;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	display: inline-block;
	transition: .3s;
}

.btn-beneficios:hover {
	background-color: #FFFFFF;
	border: 1px solid transparent;
	color: #13632F;
}

/* E-OUV */
#eouv-calendario {
	background-color: #eaeaea;
	padding-top: 7rem;
}

.eouv-imgs img {
	width: 64px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	transition: .3s;
}

.eouv-imgs img:hover,
.eouv-imgs img:focus,
.eouv-imgs img:active,
.sociais img:hover {
	transform: perspective(1px) translateZ(0);
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: .7s;
	cursor: pointer;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(0.9); }
	100% { transform: scale(1); }
}

#calendario {
	position: relative;
	border-radius: 5px;
	z-index: 1;
	top: 0;
	transition: .3s;
}

#calendario:hover {
	top: -.8rem;
	cursor: pointer;
}

#calendario img {
	border-radius: 5px;
}

.calendario-mascara {
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
}

.calendario-txt {
	position: absolute;
	top: 0;
	z-index: 3;
	margin: 0.5rem;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	height: calc(100% - (1rem));
	width: calc(100% - (1rem));
	display: flex;
}

.calendario-center {
	position: relative;
	align-self: center;
	margin: 0 auto;
}

.btn-calendario {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	font-size: 1.1rem;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	letter-spacing: -0.025rem;
	text-transform: uppercase;
	background-color: transparent;
	transition: .3s;
}

.btn-calendario:hover {
	background-color: #FFFFFF;
	color: #292929;
	border: 1px solid transparent;
}

/*
 * REGRAS DO FOOTER
 */
footer {
	background-color: #004587;
	border-top: 0.5rem solid #13632F;
}

footer p {
	font-weight: 300;
	line-height: 1.6;
}

.footer-title h5 {
	line-height: 2;
}

.footer-title {
	border-bottom: 2px solid #FFFFFF;
}

/*
 * REGRAS DE PÁGINAS
 */
.pagina-titulo-img {
	height: 15rem;
}

.pagina-titulo-img img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.pagina-titulo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}