@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Crimson+Text|Satisfy');

/*
 * REGRAS GERAIS
 */
body {
	font-family: 'Roboto', sans-serif;
	color: #444444;
}

.preto {
	color: #444444;
}

.branco {
	color: #FFFFFF;
}

.branco-bg {
	background-color: #FFFFFF;
}

.verde {
	color: #16d30f;
}

.verde-escuro {
	color: #13632F;
}

.verde-escuro-bg {
	background-color: #13632F;
}

.azul {
	color: #15AAE2;
}

.azul-bg {
	background-color: #15AAE2;
}

.zap-bg {
	background-color: #25d366;
}

.vermelho-bg {
	background-color: #ff0000;
}

.vermelho {
	color: #ff0000 !important;
}

.azul-escuro {
	color: #004587;
}

.azul-escuro-bg {
	background-color: #004587;
}

.azul-claro-bg {
	background-color: rgba(0,138,191,1);
}

.cinza-claro {
	color: #eaeaea;
}

.cinza-claro-bg {
	background-color: #eaeaea;
}

.almost-white-bg {
	background-color: #F8F8F8;
}

.verde-transparencia {
	color: #00682D;
}

.rosa-bg {
	background-color: rgba(191,68,101,1);
}

.rosa-claro-bg {
	background-color: rgba(199,124,130,1);
}

.transparencia-footer {
	width: 24px;
}

.lh-32 {
	line-height: 24px;
}

.lh-1 {
	line-height: 1.2 !important;
}

.ml-75 {
	margin-left: .75rem;
}

.cinza-escuro {
	color: #888888;
}

.cinza-escuro-bg {
	background-color: #888888;
}

.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.contraste {
	background-color: #000000 !important;
	color: #FFF !important;
}

.contraste img,
.contraste-filter {
	filter: grayscale(100%) !important;
}

.contraste-color {
	color: #FFFFFF !important;
}

.contraste-branco {
	background-color: #FFFFFF !important;
	color: #000000 !important;
}

.contraste-cinza {
	background: #555555 !important;
	background-color: #555555 !important;
	color: #FFFFFF !important;
}

img {
	max-width: 100%;
	height: auto;
}

img.lazy {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

.link-nostyle {
	text-decoration: none !important;
	color: #FFF !important;
}

a:hover {
	color: #15AAE2;
}

.nomargin {
	margin: 0px;
}

.nopadding {
	padding: 0px;
}

.pad-left-zero,
.pad-lef-zero {
	padding-left: 0px;
}

.pad-rig-zero {
	padding-right: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .p {
	margin-bottom: 0rem;
	line-height: 1.4;
}

h1 {
	font-weight: 700;
	font-size: 2.9rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.3rem;
	line-height: 1.2;
	color: #444444;
}

h3 {
	font-size: 1.85rem;
	color: #444444;
}

h4,
#conteudo-principal h1,
#conteudo-principal h2,
.home-title h1,
.home-title h2 {
	font-size: 1.4rem;
	color: #444444;
}

h5 {
	font-size: 1.15rem;
	color: #444444;
}

.box-resultado h2 {
	font-size: 1.15rem;
}

h6 {
	font-size: .85rem;
	color: #444444;
}

p,
.edital-download p,
.edital-download ul li {
	font-size: 1rem;
	line-height: 1.4;
	color: #444444;
}

.h3-box {
	font-size: 1rem;
	line-height: 1.4;
}

.p-menor {
	font-size: .85rem;
}

.form-control {
	font-size: .95rem;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

strong, .bold {
	font-weight: 700;
}

.stronger {
	font-weight: 900;
}

.nohover:hover {
	color: inherit;
}

.nohoverbranco,
.nohoverbranco:hover {
	color: #ffc107;
}

.btn-voltar {
	background-color: #13632F;
	color: #FFFFFF;
	padding: .1rem .85rem;
	border: 1px solid #13632F;
	display: inline-block;
	font-weight: 300;
}

.btn-voltar:hover {
	background-color: transparent;
	color: #13632F;
}

.conteudo-txt h1,
.conteudo-txt h2,
.conteudo-txt h3,
.conteudo-txt h4,
.conteudo-txt h5,
.conteudo-txt h6 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	line-height: 1;
}

.conteudo-txt p {
	padding-bottom: 1rem;
	line-height: 1.6;
	font-size: 1.1rem;
	font-weight: 300;
}

.conteudo-caption {
	line-height: 1.1 !important;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.conteudo-txt ul,
.conteudo-txt ol {
	padding-bottom: 1rem;
}

.conteudo-txt li {
	line-height: 1.6;
	font-size: 1.1rem;
	font-weight: 300;
}

.conteudo-txt a,
.conteudo-txt-mini a {
	color: #ff0000;
}

.prestacao-txt a {
	color: #000000;
}

.conteudo-txt a:hover,
.conteudo-txt-mini a:hover {
	text-decoration: underline;
}

figcaption {
	padding: .5rem .25rem;
	color: #999999;
	font-size: .8rem;
}

figure.align-right {
	float: right;
	padding-left: 1rem;
}

figure.align-left {
	float: left;
	padding-right: 1rem;
}

.conteudo-txt-mini h1,
.conteudo-txt-mini h2,
.conteudo-txt-mini h3,
.conteudo-txt-mini h4,
.conteudo-txt-mini h5,
.conteudo-txt-mini h6 {
	padding-bottom: .4rem;
	padding-top: .8rem;
	line-height: 1;
}

.conteudo-txt img {
	padding-top: .8rem;
}

.conteudo-txt-mini p,
.conteudo-txt-mini ol li,
.conteudo-txt-mini ul li {
	padding-bottom: .4rem;
	line-height: 1.5;
	font-size: 1rem;
}

.conteudo-txt iframe {
	width: 100%;
	height: 409px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (min-width: 992px) {
	.offset-lg-1-5 {
		margin-left: 12.4999995%;
	}
}

/*
 * Estilo para o mapa do SIG
 */
.SEDE {
	fill:#31b7ea
}
.ES01 {
	fill:#1d8ece
}
.ES02 {
	fill:#33b8eb
}
.ES03 {
	fill:#33b8eb
}
.ES04 {
	fill:#0f699c
}
.ES05 {
	fill:#1d8ece
}
.ES06 {
	fill:#0e689a
}
.ES07 {
	fill:#1f4798
}
.ES08 {
	fill:#4c61aa
}
.ES09 {
	fill:#1f4798
}
.ES10 {
	fill:#33b0e5
}
.ES11 {
	fill:#0f6293
}
.ES12 {
	fill:#1f4798
}

.mapa_regional:hover {
	opacity:0.4
}

.dado-oculto {
	display: none;
}

.regional-selecionada {
	fill: #FFC107;
	pointer-events: none;
}

/*
 * REGRAS DO CABEÇALHO
 */
.main-cabecalho {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

#header-principal {
	top: 0;
	left: 0;

	/* Função neve */
	/* vermelho */
	/* background-color: #d11111; */
	/* troca o banner pelo gif */
	/* background-image: url('/img/snowing.gif'); */
	/* repetir o gif */
	/* background-repeat: repeat-x; */
	/* Fim da função neve */

	/* 55 anos */
	/* background-image: url('/img/banner-55-anos.png'); */
	
	/* Novembro Azul */
	/* background-color: rgba(0,31,137,1); */
	/* Outubro Rosa */
	/* background-color: rgba(191,68,101,1); */
	/* Cor Padrão */
	/* background-color: #004587; */
	/* Setembro Amarelo */
	/* background-color: #FFCD4D; */
}

.header-margin {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.btn-atendimento {
	background: rgba(151,180,72,1);
	background: -moz-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(151,180,72,1)), color-stop(100%, rgba(57,100,58,1)));
	background: -webkit-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -o-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: -ms-linear-gradient(left, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	background: linear-gradient(to right, rgba(151,180,72,1) 0%, rgba(57,100,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b448', endColorstr='#39643a', GradientType=1 );
	color: #FFF;
	padding: 0.188rem 0.7rem;
	border-radius: 5px;
	border: 0px;
}

.btn-atendimento i {
	font-size: 0.95rem;
}

.linha-verde {
	background-color: rgb(19,99,47);
	height: 0.5rem;
}

.linha-branca {
	background-color: #FFFFFF;
	height: 0.5rem;
}

.linha-azul {
	background-color: #15AAE2;
	height: 1.5rem;
}

.linha-azul-escuro {
	background-color: #004587;
	height: 0.5rem;
}

.linha-dourada {
	background-color: rgb(212,175,55);
	height: 0.5rem;
}

.linha-cinza {
	width: 100%;
	height: 0.0625rem;
	background-color: #eaeaea;
}

.nav-item {
	display: inline-block;
	margin: 0rem 0.25rem;
	text-align: center;
	border-top: 0.25rem solid transparent;
	text-transform: uppercase;
	transition: border 0.3s;
	color: #444444;
}

.nav-item:hover {
	border-top: 0.25rem solid #15AAE2;
}

.nav-item a {
	padding: 0.300rem 0.300rem;
	font-weight: 700;
	font-size: 0.85rem;
	letter-spacing: -0.1px;
}

.dropdown-menu {
	background-color: #e8eaeb;
	border-radius: 0px;
	z-index: 5;
	box-shadow: none;
	padding: 0px;
	top: 90%;
	min-width: 200px;
}

.sub-dropdown {
	position: relative;
	cursor: pointer;
}

.sub-dropdown-menu {
	display: none;
	position: absolute;
	top: -1px;
	left: 100%;
	background-color: #eef1f4;
    border-radius: 0px;
    z-index: 5;
    box-shadow: none;
    padding: 0px;
	min-width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
	padding: .3rem .5rem !important;
	font-size: 0.9rem !important;
	font-weight: 400 !important;
	border-bottom: solid 1px #ddd;
	text-transform: initial;
	transition: .3s;
}

.dropdown-item:hover {
	background-color: #eef1f4;
	padding-left: .75rem !important;
}

.branco-azul {
	background-color: #FFF;
	color: #15AAE2 !important;
}

.menu-hoverable {
	background-color: #eef1f4;
}

.bb-0 {
	border-bottom: none;
}

.nav-link {
	padding: 0;
}

.sociais img {
	border-radius: 5px;
}

#fixed-menu {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #FFFFFF;
	z-index: 99;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#fixed-menu img {
	float: left;
	margin-top: 4px;
	height: 32px;
}

.aai {
	text-align: center;
	align-self: center;
}

.it {
	justify-content: center;
}

.aai h6 {
	line-height: 1.1;
	font-size: .85rem;
}

.aai img {
	border-radius: 5px;
}

.btn-acessibilidade {
	min-height: 29px;
	padding-left: .35rem;
	padding-right: .35rem;
}

.btn-acessibilidade h6 {
	font-weight: 900;
	line-height: 1;
	font-size: .9rem !important;
}

.btn-access {
	line-height: 1.4;
}

.btn-access i {
	font-size: .8rem;
}

.login-header {
	justify-content: flex-end;
}

.p-restrita .fas {
	font-size: 15px;
}

.p-restrita a {
	color: inherit;
}

/*
 * REGRAS DA HOME
 */

/* CARROSSEL */
#carousel {
	width: 100%;
}

.carousel {
  height: 540px;
}

.carousel-item img,
.noticia-img img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.carousel-indicators {
	margin-bottom: 0px;
}

/* TÍTULO DA SEÇÃO */
.home-title {
	overflow: hidden;
	margin-bottom: .5rem;
}

.home-title blockquote {
	padding: 0.1rem 0.6rem;
	position: relative;
	z-index: 3;
	margin: 0;
	background: none;
	border-left: none;
}

.home-title blockquote i {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	background: #15AAE2;
	border-radius: 3px;
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
}

.home-title h5 {
	position: absolute;
	z-index: 5;
	right: 8px;
	top: 8px;
	padding-left: .6rem;
	padding-right: .3rem;
	color: #444444;
	font-size: .95rem;
}

.home-title h5:hover .icon-title {
	transform: rotateY(180deg);
}

.home-title h5:hover .icon-title-prox {
	transform: rotateY(360deg);
}

.icon-title, .icon-title-prox {
	font-size: 1rem;
	margin-right: 0.2rem;
	color: #15AAE2;
	transition: .3s;
}

.home-title blockquote h1,
.home-title blockquote h2 {
	display: inline-block;
	font-weight: 700;
	color: #444444;
}

.home-title blockquote:after {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 1px;
	top: 55%;
	background-color: #d6d6d6;
}

/* ESPAÇO DO REPRESENTANTE */
#espaco-representante {
	padding-bottom: 8rem;
	padding-top: 3rem;
	background-color: #eaeaea;
}

.box {
	height: 300px;
	padding: 0.55rem;
	border-radius: 5px;
	transition: all .3s;
	position: relative;
	cursor: pointer;
	top: 0;
}

.box-dois {
	padding: 0.5rem;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}

.pointer:hover {
	cursor: pointer;
}

.box-transparencia {
	padding: 0.5rem;
}

.inside-box-transparencia {
	border-color: #00682D !important;
}

.box:hover {
	top: -.8rem;
}

.box:hover .inside-img,
.box-dois:hover .inside-img,
.faleSingle:hover .inside-img {
	transform: rotateY(360deg);
}

.inside-img {
	transition: .6s;
}

.inside-box {
	border: 1px solid #FFFFFF;
	padding: 1.5rem;
	border-radius: 5px;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.inside-box img,
.inside-box-dois img {
	min-width: 64px;
}

.inside-box-dois {
	border: 1px solid #FFFFFF;
	padding: 1rem 1.75rem;
	border-radius: 5px;
	height: 100%;
}

.box-minor-padding {
	border: 1px solid #FFFFFF;
	padding: 1rem;
	border-radius: 5px;
	height: 100%;
}

.box-minor-padding img {
	width: 45px;
}

.inside-box i {
	font-size: 5rem;
}

.btn-box {
	background-color: #FFFFFF;
	padding: 0.25rem .8rem;
	border: 1px solid #FFFFFF;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 400;
	display: inline-block;
	transition: .3s;
}

.rolando {
	flex: 1 1 auto;
	align-self: center;
}

.btn-box-little {
	margin-top: .5rem;
}

.btn-box:hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background-color: transparent;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Pesquisar";
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}

/* NOVO CORE */
#novo-core {
	margin-top: -5rem;
	margin-bottom: 3rem;
}

#novo-core h2,
#e-ouv h2 {
	letter-spacing: -0.1rem;
}

.novo-core-box a:hover {
	color: #000 !important;
}

.novo-core-box {
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-image: url('/img/bg-novo-core.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 3rem;
}

.novo-core-box h2 {
	margin-bottom: 3rem;
}

.btn-novo-core {
	padding: 1rem 3rem;
	display: inline-block;
	font-size: 1.25rem;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
	margin: 0rem 0.5rem;
	background-color: transparent;
	transition: .3s;
}

.btn-novo-core h4 {
	color: #FFFFFF;
}

.btn-novo-core:hover {
	background-color: #FFFFFF;
	border: 1px solid transparent;
	color: #15AAE2;
}

.btn-novo-core:hover h4 {
	color: #15AAE2;
}

/* FALE COM O CORE */
#fale {
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
}

.newsCotidiano {
	padding: .25rem 3.25rem .25rem 0rem;
}

.faleRow img {
	width: 64px;
	color: #444444;
}

.faleSingle {
	padding-top: 1rem;
	padding-bottom: 1rem; 
}

.faleSingle:hover a h5 {
	color: #004587;
}

.fale-txt {
	padding-left: .75rem;
}

/* NOTÍCIAS */
.box-news {
	height: 16rem;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 15px;
}

.box-news h5 {
	font-weight: 500;
}

.bn-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: .3s;
}

.box-news:hover .bn-img {
	transform: scale(1.2);
	cursor: pointer;
}

.box-news-txt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2rem 1rem 0.75rem 1rem;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.box-news-txt h5 {
	line-height: 1.3;
}

/* PÁGINA NOTÍCIA */
.noticia-img {
	height: 410px;
	border-radius: 5px;
}

.noticia-img img {
	border-radius: 5px;
}

/* BENEFÍCIOS */
#beneficios {
	margin-bottom: -4rem;
	padding-top: 3rem;
}

.beneficios-box {
	background-image: url('/img/arte-003-fundo-final-jpeg-final-jpeg-final-jpeg.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-radius: 5px;
	position: relative;
	z-index: 3;
}

#computer {
	margin-top: -3.5rem;
}

.beneficios-icons img {
	width: 45px;
	margin-right: 5px;
}

.beneficios-txt {
	padding-top: 2.25rem;
	padding-left: 2.25rem;
}

.beneficios-txt h2 {
	padding-bottom: 0.5rem;
}

.beneficios-txt p {
	margin-bottom: 1.5rem;
}

.btn-beneficios {
	padding: 0.75rem 2.25rem;
	text-transform: uppercase;
	color: #FFF;
	border: 1px solid #FFF;
	display: inline-block;
	transition: .3s;
}

.btn-beneficios:hover {
	background-color: #FFFFFF;
	border: 1px solid transparent;
	color: #13632F;
}

/* E-OUV */
#eouv-calendario {
	background-color: #eaeaea;
	padding-top: 7rem;
}

.eouv-imgs img {
	width: 50px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	transition: .3s;
}

.eouv-imgs img:hover,
.eouv-imgs img:focus,
.eouv-imgs img:active,
.sociais img:hover {
	transform: perspective(1px) translateZ(0);
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: .7s;
	cursor: pointer;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(0.9); }
	100% { transform: scale(1); }
}

#calendario {
	position: relative;
}

.calendario-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.calendario-txt {
	margin-left: -80px;
}

.btn-calendario {
	border: 1px solid #13632F;
	padding: 0.4rem 1.5rem;
	background-color: #13632F;
	text-transform: uppercase;
	display: inline-block;
	transition: .3s;
}

.btn-calendario h4 {
	letter-spacing: -.05rem;
	color: #eaeaea;
}

.btn-calendario:hover {
	background-color: transparent;
}

.btn-calendario:hover h4 {
	color: #13632F;
}

/*
 * REGRAS DO FOOTER
 */
/* footer { */
	/* background-color: #004587; */
	/* Outubro Rosa */
	/* background-color: rgba(191,68,101,1); */
/* } */

footer p {
	font-weight: 300;
	line-height: 1.6;
}

.footer-title h5 {
	line-height: 2;
}

.footer-title {
	border-bottom: 2px solid #FFFFFF;
}

.textoTermo {
	font-size: 14px;
}

#newsletter input[type="text"] {
	background-color: transparent;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 0px;
}

#newsletter input::placeholder {
  color: #d6d6d6;
  opacity: 1;
}

#newsletter input:-ms-input-placeholder {
  color: #d6d6d6;
}

#newsletter input::-ms-input-placeholder {
  color: #d6d6d6;
}

.form-group {
	margin-bottom: .8rem;
}

/*
 * REGRAS DE PÁGINAS
 */
.pagina-titulo-img {
	height: 210px;
}

.pagina-titulo-img img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.pagina-titulo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}

.pagina-titulo-img h6 {
	position: absolute;
	bottom: 10px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#pagina-conteudo,
#pagina-licitacoes,
#pagina-licitacao,
#pagina-concursos,
#pagina-erro,
#pagina-busca,
#pagina-bdo,
#pagina-cursos,
#pagina-agradece,
#pagina-noticias {
	padding-top: 2.25rem;
	padding-bottom: 2.25rem;
}

/*
 * PÁGINA DE LICITAÇÕES
 */
.pesquisaLicitacao {
	padding: 1rem 1rem 1.5rem 1rem;
	background-color: #fbfbfb;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
}

.pesquisaLicitacao label,
.inscricaoCurso label,
.consultaAgendamento label,
.simulador label,
.consulta label,
.cadastroRepresentante label {
	font-size: 0.85rem;
	margin-bottom: 0.25rem;
	margin-left: .25rem;
	color: #444444;
}

.cadastroRepresentante iframe {
	margin-bottom: 0px;
	margin-top: 0px;
	height: auto;
	max-height: 76px;
}

.blank-row {
	border-top: 2px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
	height: 0px;
}

.bt-unset {
	border-top: unset !important;
}

#simuladorAddons {
	display: none;
}

.border-3 {
	border-bottom-width: 4px !important;
}

.blank-row td {
	padding: 0px;
}

.pesquisaLicitacao .btn {
	font-size: 0.85rem;
	width: 49.2%;
}

.pesquisaLicitacao-btn {
	padding-bottom: .12rem;
}

.licitacao-grid {
	background-color: #fbfbfb;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin-bottom: 1.5rem;
}

.licitacao-grid-main {
	padding: 1rem;
	border-bottom: 1px solid #d6d6d6;
}

.licitacao-grid-bottom {
	background-color: #eaeaea;
	padding: .4rem 1rem;
}

.marrom {
	color: #444444;
}

.licitacao-grid h5 {
	font-size: 1rem;
}

.licitacao-grid p,
.licitacao-grid p span {
	font-size: .85rem !important;
	color: #444444;
	letter-spacing: .025rem;
	font-weight: 300;
}

.linha-lg {
	border-bottom: 1px solid #d6d6d6;
	margin-top: .75rem;
	margin-bottom: .75rem;
	width: 100%;
	display: inline-block;
}

.linha-lg-mod {
	border-bottom: 1px solid #d6d6d6;
	margin-top: .75rem;
	width: 100%;
}

.linha-lg-mini {
	border-bottom: 1px solid #d6d6d6;
	margin-top: .75rem;
	margin-bottom: .25rem;
	width: 100%;
	display: inline-block;
}

.bot-lg i {
	font-size: 1rem;
	color: #444444;
	background-color: #FFFFFF;
	padding: .5rem;
	border-radius: 2.5px;
	border: 1px solid #d6d6d6;
}

.bot-lg h6 {
	letter-spacing: 0.025rem;
	color: #444444;
}

.flex-one {
	flex: 1;
}

.sit-btn {
	padding: .08rem 1.5rem .05rem 1.5rem;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 5px;
	font-size: .72rem;
	font-weight: 500;
	border-bottom: 1px solid;
}

.sit-verde {
	background-color: #03b34e;
	border-color: #08953d;
}

.sit-vermelho {
	background-color: #FF0000;
	border-color: crimson;
}

.sit-azul {
	background-color: #15AAE2;
	border-color: #15AAE2;
}

.sit-default {
	background-color: #a2a0a0;
	border-color: #565656;
}

.btn-buscaavancada {
	background-color: #004587;
	border: 1px solid #004587;
	padding: .375rem .75rem;
	border-radius: .25rem;
	font-size: .95rem;
	width: 49.4%;
	color: #fbfbfb;
	line-height: 1.5;
}

.btn-limpar {
	background-color: #e7e7e7;
	border: 1px solid #dddddd;
	padding: .375rem .75rem;
	border-radius: .25rem;
	font-size: .95rem;
	color: #444444;
	width: 49.4%;
	line-height: 1.5;
}

/*
 * LICITAÇÃO SINGLE
 */

.quarenta {
	width: 40%;
}

.trinta {
	width: 30%;
}

.vinte {
	width: 20%;
}

.quinze {
	width: 15%;
}

.br-5 {
	border-radius: 5px;
}

.edital-info .table {
	background-color: #fbfbfb;
	border: 1px solid #d6d6d6;
}

.table-bordered td {
	border-color: #d6d6d6;
}

.edital-download {
	padding: .8rem;
	background-color: #fbfbfb;
	border: 1px solid #d6d6d6;
}

.edital-download p {
	padding-bottom: 1rem;
	font-weight: 300;
}

.edital-download h1,
.edital-download h2,
.edital-download h3,
.edital-download h4,
.edital-download h5,
.edital-download h6 {
	padding-bottom: 1rem;
}

.edital-download ul li {
	font-weight: 300;
}


.edital-download a {
	color: #FF0000;
}

.edital-download a:hover {
	text-decoration: underline;
}

.btn-edital {
	background-color: #004587;
	padding: .4rem .8rem;
	border-radius: 5px;
	border: none;
	color: #fbfbfb;
	font-size: .8rem;
}

/*
 * PÁGINA OPORTUNIDADES
 */
.btn-mais-info {
	background-color: #004587;
	padding: .375rem 1.2rem;
	display: inline-block;
	border-radius: 5px;
	border: none;
	color: #fbfbfb;
	font-size: .95rem;
}

.btn-mais-info:hover {
	color: #fbfbfb;
}

.saiba-mais {
	background-color: #004587;
	border: 1px solid #004587;
	padding: .35rem 1.5rem;
	border-radius: .25rem;
	font-size: .95rem;
	color: #fbfbfb;
	line-height: 1.5;
}

.bdo-info {
	display: none;
}

/*
 * PÁGINA CURSOS
 */
#pagina-cursos {
	background-color: #eaeaea;
}

.curso-grid {
	height: 240px;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.curso-grid h5 {
	font-weight: 500;
}

.bn-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: .3s;
}

.curso-grid:hover .bn-img {
	transform: scale(1.2);
	cursor: pointer;
}

.curso-grid-txt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2rem 1.25rem 0.75rem 1.25rem;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.curso-grid-content {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	flex-grow: 1;
}

.btn-curso-grid,
.btn-curso-interna {
	background-color: #004587;
	border: 1px solid #004587;
	color: #FFF;
	border-radius: 0px;
	display: inline-block;
	transition: .3s;
	text-transform: uppercase;
}

.btn-curso-inscrito {
	border: 1px solid;
	border-radius: 0px;
	display: inline-block;
	transition: .3s;
	text-transform: uppercase;
}

.btn-como-foi {
	background-color: #13632F;
	border: 1px solid #13632F;
	color: #FFF;
	border-radius: 0px;
	display: inline-block;
	transition: .3s;
	text-transform: uppercase;
}

.btn-esgotado {
	background-color: transparent;
	border: 1px solid transparent;
	color: #FF0000;
	border-radius: 0px;
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
}

.btn-divulgacao {
	background-color: transparent;
	border: 1px solid transparent;
	color: #15AAE2;
	border-radius: 0px;
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
}

.btn-como-foi:hover {
	background-color: transparent;
	border-color: #13632F;
}

.btn-curso-grid,
.btn-como-foi,
.btn-esgotado,
.btn-inscrito-grid {
	padding: .4rem 1.2rem;
}

.btn-curso-interna, .btn-curso-inscrito {
	padding: .5rem 1.6rem;
	font-size: 1.2rem;
}

.btn-curso-grid:hover,
.btn-curso-interna:hover {
	background-color: transparent;
	color: #004587;
}

/*
 * CURSO INTERNA
 */

.curso-img {
	border: 1px solid #d6d6d6;
}

/*
 * PÁGINA DE BUSCA
 */
.box-resultado {
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 1.5rem;
}

.box-resultado:last-child {
	border-bottom: none;
}

/* .box-resultado p {
	display: inline-block;
} */

/*
 * PÁGINA DE AGENDAMENTO
 */
#datepicker:hover,
#dataInicio:hover {
	cursor: pointer;
}

.loadImage {
	position: absolute;
	top: 28px;
	left: 11px;
	display: none;
}

.loadImage img {
	width: 32px;
}

.form-box {
	padding: 1rem;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.inscricaoCurso h5 {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 4px;
	margin-bottom: 12px;
	margin-top: 12px;
}


.ui-datepicker .lotado span
{
	background: none #e61818;
}

.ui-datepicker td.agendado
{
	border-style: solid;
	border-color: black;
	border-width: medium;
}

.ui-widget-content .ui-state-disabled.lotado
{
	opacity: 1;
}

/*
 * INTERNA DE REGIONAL
 */
.descricaoRegional p {
	font-weight: 300;
}

.show-992,
.show-768,
.show-inline-768,
.show-576 {
	display: none;
}

#sidebar,
#menuResponsivo,
.overlay {
	display: none;
}

.input-group-append button,
.input-group-text {
    font-size: .95rem;
}

.bg-focus {
	background-color: #E8F0FE;
}

.pb-15 {
	padding-bottom: 15px;
}

.textoSimulador h4 {
	line-height: 1.3;
}

.textoSimulador p {
	margin-bottom: 15px;
	font-weight: 300;
}

.textoSimulador ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

.textoSimulador ol li {
	margin-bottom: 5px;
	font-weight: 300;
}

#loadingSimulador {
	display: none;
}

#loadingSimulador img,
#avLoading img {
	height: 32px;
}

.notReadOnly {
	background-color: #FFFFFF !important;
}

.nowrap {
	white-space: nowrap;
}

.consulta-box .badge {
	padding: 0.3em 0.5em;
	font-size: 100%;
}

.consulta-box strong,
h5 {
	font-weight: 500;
}

.consulta-box p {
	font-weight: 300;
}

.alert-warning p {
	font-weight: 300;
	font-size: .8rem;
}

/** BLOG **/
.post-title {
	font-weight: 500;
	font-family: 'Crimson Text', serif;
	line-height: 1;
	font-size: 2.75rem;
}

.post-subtitle {
	font-weight: 500;
	font-family: 'Crimson Text', serif;
	color: rgba(0, 0, 0, 0.54);
	line-height: 1.2;
	font-size: 1.35rem;
}

.sociais-post {
	overflow: hidden;
}

#prender img {
	margin-bottom: 7.5px;
	display: block;
}

#prender img:hover {
	cursor: pointer;
	opacity: .8;
}

#prender {
	margin-top: 15px;
	margin-left: 15px;
}

.prender {
	position: fixed;
}

.prenderBot {
	position: absolute;
	bottom: 0;
	top: unset !important;
}

.bot-post h5 {
	padding-bottom: .75rem;
}

.bot-post p {
	font-size: .9rem;
	font-weight: 300;
	padding-bottom: .5rem;
}

.pacifico {
	font-family: 'Satisfy', cursive;
}

.menu-inteiro {
	background-color: #FFFFFF;
}

.setembro h2 {
	line-height: 1;
	color: #FFFFFF;
}

.setembro p {
	margin-top: -2px;
	line-height: 1;
	letter-spacing: -0.1px;
}

#btn-aat {
	padding-top: 3.5px;
	padding-bottom: 3.5px;
}

#btn-aat {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 20px;
}

.acessibilidade {
	margin-bottom: 5px;
}

#home-blog { 
	padding-bottom: 2.5rem;
}

.ui-tooltip {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	background: #FFFFFF;
	border: 1px solid #15AAE2 !important;
	font-size: 12px;
	line-height: 1.4;
}

.menu-representante {
	background-color: #fbfbfb;
}

.mr-item,
.border-one-mr {
	border: 1px solid #dee2e6;
}

.mr-item h6 {
	padding: .75rem;
}

.mr-item:hover,
.mr-item:hover .brancar,
.mr-item-selected {
	color: #fbfbfb;
	background-color: #444444;
}

.mr-item-selected .brancar {
	color: #fbfbfb;
}

.representante-content {
	background-color: #fbfbfb;
	padding: 1rem;
	border: 1px solid #dee2e6;
}

.contato-single {
	padding: 0.75rem 1.25rem;
	display: flex;
	width: 100%;
	align-self: center;
}

.contato-single p {
	line-height: 1.5;
	align-self: center;
	flex: 1;
}

.space-single {
	padding: 0.75rem 1.25rem;
}

.b-dashed {
	border-bottom: 1px dotted #444;
}

.avHidden,
#avInfo {
	display: none;
}

#avInfo input[type="text"] {
	border: none;
	padding: 0px 0px 0px 5px;
}

#avInfo label {
	margin-bottom: 0px;
	line-height: 24px;
}

#avAlert {
	display: none;
}

#outroSegmento {
	display: none;
}

#avLoading {
	display: none;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.contatos-table {
	border-radius: 0.25rem;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.ls-meio-neg {
	letter-spacing: -0.5px;
}

.name-representante {
	position: relative;
}

#bars-representante {
	position: absolute;
	right: 1.75rem;
	top: 1.1rem;
	color: #FFF;
}

#loading {
	display: none;
}

#link-termo-de-uso {
	cursor: pointer;
	color: #15AAE2;
}

.lh-28 {
	line-height: 26px !important;
	vertical-align: bottom !important;
	padding-bottom: 0px !important;
}

.parceiro-grid img {
	max-width: 240px;
}

#divCrimageDois {
	display: none;
}

#popup-campanha .model-content {
	border-radius: 0;
}

#popup-campanha .modal-header {
	border-radius: 0;
	padding: 15px;
}

#popup-campanha .modal-title {
	color: #16688E;
}

#popup-campanha .modal-body {
	padding: 0;
}

#popup-campanha video {
	width: 100%;
	/* height: 498px; */
	height: 298px;
}

.btn-faixa {
	color: #004587;
	padding: 5px 15px;
	border: 1px solid #343a40;
	background-color: transparent;
	font-weight: 700;
	text-transform: uppercase;
}

.as-center {
	align-self: center;	
}

/* FINAL */

/*
 * CSS PARA DISPOSITIVOS MÓVEIS
 */
@media screen and (max-width: 1600px) {

	h1 {
		font-size: 2.6rem;
	}
	
	h2 {
		font-size: 2.2rem;
	}
	
	h3 {
		font-size: 1.75rem;
	}
	
	h4,
	#conteudo-principal h1,
	#conteudo-principal h2,
	.home-title h1,
	.home-title h2 {
		font-size: 1.325rem;
	}
	
	h5,
	.box-resultado h2 {
		font-size: 1.1rem;
	}
	
	h6 {
		font-size: .8rem;
	}
	
	p,
	.edital-download p,
	.edital-download ul li,
	.h3-box {
		font-size: .95rem;
	}
	
	.p-menor {
		font-size: .85rem;
	}

	.carousel {
		height: 450px;
	}

	.pagina-titulo-img {
		height: 190px;
	}

	.box {
		padding: 0.5rem;
	}

	.inside-box {
		padding: 1.35rem;
	}

	.box-news {
		height: 15rem;
	}

	.conteudo-txt p {
		font-size: 1.05rem;
		padding-bottom: .95rem;
	}

	.conteudo-txt ul,
	.conteudo-txt ol {
		padding-bottom: .95rem;
	}
	
	.conteudo-txt li {
		font-size: 1.05rem;
	}

}

@media screen and (max-width: 1200px) {

	h1 {
		font-size: 2.45rem;
	}
	
	h2 {
		font-size: 2.1rem;
	}
	
	h3 {
		font-size: 1.7rem;
	}
	
	h4,
	#conteudo-principal h1,
	#conteudo-principal h2,
	.home-title h1,
	.home-title h2 {
		font-size: 1.3rem;
	}
	
	h5,
	.box-resultado h2 {
		font-size: 1.1rem;
	}
	
	h6 {
		font-size: .8rem;
	}

	.alert-warning p {
		font-size: .75rem;
	}
	
	p, 
	.tableSimulador td,
	.textoSimulador ol li {
		font-size: .95rem;
	}
	
	.p-menor {
		font-size: .85rem;
	}

	.nav-item {
		margin: 0rem 0.2rem;
	}

	.nav-item a {
		font-size: 0.85rem;
	}

	.dropdown-item {
		font-size: 0.8rem !important;
	}

	.box-news {
		height: 204px;
	}

	.pagina-titulo-img {
		height: 165px;
	}

	.carousel {
		height: 375px;
	}

	.inside-box {
		padding: 1.2rem;
	}

	.beneficios-box {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.beneficios-txt {
		padding-top: 1.4rem;
		padding-left: 1.4rem;
	}

	.beneficios-txt p {
		margin-bottom: 1rem;
	}

	#calendario .pr-4 {
		padding-right: 15px !important;
	}

	.calendario-txt {
		margin-left: -90px;
	}

	.inside-box-dois {
		padding: 0.75rem 1rem;
	}

	.inside-box-dois .pl-4 {
		padding-left: 1rem !important;
	}

	.noticia-img {
		height: 375px;
	}

	.btn-buscaavancada {
		width: 49.27%;
	}

	.conteudo-txt p {
		font-size: 1rem;
		padding-bottom: .9rem;
	}

	.conteudo-txt ul,
	.conteudo-txt ol {
		padding-bottom: .9rem;
	}

	.conteudo-txt li {
		font-size: 1rem;
	}

	figcaption {
		font-size: .75rem;
	}

	.curso-grid {
		height: 204px;
	}

	.novo-core-box {
		padding: 2.5rem 0.5rem;
	}

	.novo-core-box h2 {
		margin-bottom: 2.5rem;
	}

	.novo-core-box {
		padding: 2.5rem;
	}

	.conteudo-txt iframe {
		height: 342px;
	}

	#fale {
		padding-top: 2rem;
	}

	.hide-only-1200 {
		display: none;
	}

	#btn-aat img {
		margin-right: 0px;
	}

	.pagina-titulo-img h6 {
		bottom: 7.5px;
	}
}


@media screen and (max-width:992px) {

	h1 {
		font-size: 2.2rem;
	}
	
	h2 {
		font-size: 1.9rem;
	}
	
	h3 {
		font-size: 1.5rem;
	}
	
	h4,
	#conteudo-principal h1,
	#conteudo-principal h2,
	.home-title h1,
	.home-title h2 {
		font-size: 1.2rem;
	}
	
	h5,
	.box-resultado h2 {
		font-size: 1rem;
	}
	
	h6 {
		font-size: .75rem;
	}
	
	p,
	.edital-download p,
	.edital-download ul li,
	.tableSimulador td,
	.textoSimulador ol li,
	.h3-box {
		font-size: .9rem;
	}
	
	.p-menor,
	.bot-post p {
		font-size: .8rem;
	}

	.alert-warning p {
		font-size: .7rem;
	}

	.inline-992,
	.sociais {
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 0px !important;
	}

	.center-992 {
		text-align: center !important;
	}

	.m-auto-992 {
		margin: 0 auto !important;
	}

	.sociais img {
		width: 30px;
	}

	.carousel {
		height: 345px;
	}

	.pagina-titulo-img {
		height: 150px;
	}

	.show-992 {
		display: block;
	}

	.hide-992 {
		display: none;
	}

	.pb-15-992 {
		padding-bottom: 15px;
	}

	.box:hover {
		top: -.5rem;
	}

	.inside-box {
		padding: 1.45rem;
	}

	.btn-atendimento {
		padding-top: 0.288rem;
		padding-bottom: 0.288rem;
	}

	.aai {
		text-align: right;
		align-self: center;
	}

	.mt-15-992 {
		margin-top: 15px;
	}

	.mexe-tamanho {
		width: 75%;
	}

	.nav-item {
		margin: 0rem;
	}

	.nav-item a {
		padding: 0.35rem 0.44rem;
	}

	.btn-novo-core {
		padding: 0.65rem 1.25rem;
		margin: 0rem 0.3rem;
	}

	.home-3 {
		display: none;
	}

	.center-992 {
		text-align: center;
	}

	.box-news,
	.curso-grid {
		height: 227px;
	}

	.novo-core-box .mb-5 {
		margin-bottom: 2rem !important;
	}

	.beneficios-txt h2 {
		padding-bottom: 0.2rem;
	}

	.beneficios-txt {
		padding: 1.5rem;
	}

	.novo-core-box {
		padding: 2rem 0.5rem;
	}

	.novo-core-box h2,
	.beneficios-txt p {
		margin-bottom: 1.35rem;
	}

	.faleSingle {
		padding-bottom: 15px; 
	}
	
	#fale {
		padding-bottom: 0rem;
	}

	.calendario-txt p {
		font-size: 1.1rem;
	}

	.mt-2-992 {
		margin-top: 2rem;
	}

	footer .w-75 {
		width: 90% !important;
	}

	.conteudo-txt p {
		font-size: 1.1rem;
	}

	.conteudo-txt li {
		font-size: 1.1rem;
	}

	.clippers {
		padding-top: 2rem;
		max-width: 365px;
		margin: 0 auto;
	}

	.btn-buscaavancada,
	.btn-limpar {
		width: auto;
	}

	.pesquisaLicitacao-btn {
		margin-top: 1rem;
	}

	.edital-info .quarenta {
		width: 30%;
	}

	.conteudo-txt p {
		font-size: 1rem;
	}

	.conteudo-txt li {
		font-size: 1rem;
	}

	.mb-2-576 {
		margin-bottom: .5rem;
	}

	.novo-core-box {
		padding: 2rem;
	}

	.aai {
		padding-top: 15px;
	}

	.conteudo-txt iframe {
		height: 387px;
	}

	.hide-only-1200 {
		display: inline-block;
	}

	#btn-aat img {
		margin-right: 2px;
	}

	.representante-content .quinze {
		width: 20%;
	}

	.contato-single,
	.space-single {
		padding: 0.75rem;
	}

	#popup-campanha video {
		height: 282px;
	}
}


@media screen and (max-width: 767px) {
	.hide-768 {
		display: none;
	}

	.pt-15-768 {
		padding-top: 15px;
	}

	.pb-30-768 {
		padding-bottom: 30px;
	}

	.center-768 {
		text-align: center !important;
	}

	.header-margin {
		margin-top: .9rem;
		margin-bottom: .9rem;
	}

	#sidebar {
		position: fixed;
		height: 100vh;
		min-width: 250px;
		background-color: #15AAE2;
		z-index: 999;
		display: block;
		top: 0;
		left: -275px;
		transition: left 0.3s;
		-webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
	}

	.active {
		display: block !important;
	}

	.leftando {
		left: 0px !important;
	}

	#dismiss {
		position: absolute;
		right: 15px;
		top: 15px;
		padding: 5px 10px;
		background-color: #15AAE2;
		border-radius: 5px;
	}

	.dropdown-menu {
		position: relative !important;
		transform: none !important;
		background-color: #15AAE2 !important;
		margin-bottom: 7.5px;
		box-shadow: none !important;
	}

	.sub-dropdown {
		color: #FFFFFF;
	}

	.sub-dropdown-menu {
		position: relative;
		top: unset;
		left: unset;
		background-color: transparent;
		border: none;
		min-width: unset;
	}

	.sub-dropdown .dropdown-item {
		color: #FFFFFF;
	}

	.sub-dropdown-menu .dropdown-item {
		padding-left: 35px !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.sub-dropdown-menu .dropdown-item:hover {
		padding-left: 40px !important;
	}

	.menu-hoverable {
		background-color: transparent !important;
	}

	#dismiss:hover {
		cursor: pointer;
	}

	#dismiss i {
		color: #FFF;
	}

	#sidebarContent .nav-item {
		display: block;
		text-align: left;
		margin: 0px;
	}

	.sidebar-header {
		padding: 15px;
		margin-bottom: 15px;
		background-color: #6d7fcc;
	}

	#sidebarContent .nav-item {
		border-top: unset;
	}

	#sidebarContent .nav-item:hover {
		border-top: unset;
	}

	#sidebarContent .nav-item a {
		color: #FFFFFF;
		padding: 8.5px 15px;
		font-size: .9rem;
		font-weight: 400;
		transition: .3s;
	}

	#sidebarContent .nav-item a:hover {
		background-color: #FFFFFF;
		color: #15AAE2;
		padding-left: 20px;
	}

	.overlay {
		z-index: 990;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
	}

	.aai {
		text-align: center;
	}

	#logo-header {
		width: 80%;
	}

	#menu-principal {
		display: none;
	}

	#menuResponsivo {
		display: block;
		padding-top: 3px;
		padding-bottom: 7.5px;
		text-align: center;
	}

	.carousel {
		height: 310px;
	}

	.inside-box {
		padding: 1.5rem;
	}

	.dropdown-menu {
		border: unset !important;
		width: 100%;
		margin: 0px;
		float: unset !important;
	}

	.dropdown-item {
		padding: 7.5px 25px !important;
		border-bottom: none !important;
	}

	.dropdown-item:hover {
		color: #15AAE2 !important;
		padding-left: 30px !important;
	}

	#espaco-representante {
		padding-top: 2.5rem;
		padding-bottom: 7rem;
	}

	#novo-core {
		margin-bottom: 2.5rem;
	}

	#beneficios {
		padding-top: 2.5rem;
	}

	.show-768 {
		display: block;
	}

	.show-inline-768 {
		display: inline-block;
	}

	.br-novo-core {
		content: '';
		height: 15px;;
	}

	.box-news,
	.curso-grid {
		height: 168px;
	}

	.box-news-txt {
		padding: 1.5rem .5rem .5rem .5rem;
	}

	.beneficios-box {
		padding-right: 0px;
		padding-left: 0px;
	}

	.calendario-txt p {
		font-size: 1rem;
	}

	footer .w-75 {
		width: 100% !important;
	}

	.mt-4-768 {
		margin-top: 1.5rem;
	}

	.mt-2-768 {
		margin-top: .5rem;
	}

	.novo-core-box {
		padding: 1.5rem;
	}

	.conteudo-txt iframe {
		height: 286px;
	}

	figcaption {
		font-size: .7rem;
	}

	#fale {
		padding-top: 1.75rem;
	}

	.newsCotidiano {
		padding: .25rem 0rem;
	}

	.noticia-img {
		height: auto;
	}

	.noticia-img img {
		object-fit: unset;
		height: auto;
	}

	.login-header {
		margin-bottom: 0px !important;
	}

	.representante-content .quinze {
		width: 25%;
	}
}


@media screen and (max-width: 576px) {

	h1 {
		font-size: 1.9rem;
		line-height: 1.2;
	}
	
	h2 {
		font-size: 1.7rem;
	}
	
	h3 {
		font-size: 1.4rem;
	}
	
	h4,
	#conteudo-principal h1,
	#conteudo-principal h2,
	.home-title h1,
	.home-title h2 {
		font-size: 1.1rem;
	}
	
	h5,
	.box-resultado h2 {
		font-size: .95rem;
	}
	
	h6 {
		font-size: .7rem;
	}
	
	p,
	.edital-download p,
	.edital-download ul li,
	.tableSimulador td,
	.textoSimulador ol li,
	.h3-box {
		font-size: .85rem;
	}
	
	.p-menor,
	.bot-post p {
		font-size: .75rem;
	}

	.center-576 {
		text-align: center !important;
	}

	#logo-header {
		width: 80%;
	}

	.carousel {
		height: 500px;
	}

	.pagina-titulo-img {
		height: 135px;
	}

	/* .home-title h5 {
		display: none;
	} */

	.box,
	.box-news,
	.curso-grid,
	.curso-grid-content {
		width: 75%;
		margin: 0 auto;
	}

	.box-news {
		margin-bottom: 15px;
	}

	.hide-576 {
		display: none !important;
	}

	.show-576 {
		display: block !important;
	}

	#espaco-representante {
		padding-top: 2rem;
	}

	#novo-core {
		margin-bottom: 2rem;
	}

	#beneficios {
		padding-top: 2rem;
	}

	.inside-box {
		padding: 1.2rem;
	}

	.btn-box {
		margin-top: .5rem;
	}

	.curso-grid-content {
		padding: .75rem 1rem 1rem 1rem;
	}

	.mb-15-576 {
		margin-bottom: 15px;
	}

	.btn-novo-core {
		width: 200px;
	}

	#btn-aat {
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}

	.pagina-titulo-img h6 {
		bottom: 5px;
	}

	#bdo-titulo {
		top: 40%;
	}

	#bdo-titulo h1 {
		line-height: 1;
	}

	.bdo-info .row {
		display: block !important;
	}

	.bdo-info .col {
		margin-top: 10px;
	}

	.parceiro-grid img {
		max-width: 150px;
	}

	#popup-campanha video {
		height: 100%;
	}
}

/* 
	Cuida do comportamento da mensagem do uso dos cookies
*/

.box-cookies.hide {
	display: none !important;
}
  
.box-cookies {
	position: fixed;
	background: #fff;
	width: 60%;
	z-index: 998;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.box-cookies .msg-cookies, .box-cookies {
	text-align: justify;
	padding: 10px;
	color: #000;
	font-size: 14px;
}
  
.btn-cookies {
	font-size: 12px;
	text-align: center;
	background: #007bff;
	cursor: pointer;
	align-self: normal;
	color: #fff;
}
  
@media screen and (max-width: 900px) {
	.box-cookies {
	  flex-direction: column;
	}
	.box-cookies .msg-cookies {
	  text-align: center;
	}
}

/* 
	Cor do link na página do bdo anunciar
*/

.link-bdo a:link, .link-bdo a:visited {
	color: #444444;
}

.link-bdo a:hover {
	color: #15AAE2;
}

#email_system {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}